body {
    background: rgb(204,204,204); 
    font-size: small;
  }
  p{
    margin:4px!important;
  }
  page {
    background: white;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
  }
  page[size="A4"] {  
    width: 21cm;
    height: 29.7cm;
    padding-top:2.5rem; 
  }
  @media print {
    body, page {
      margin: 0;
      box-shadow: 0;
    }
  }

  .container{
      position: relative;
  }

  .bottom{
    position: absolute;
    bottom: 2rem;
   left:2rem;
  }

  .checkbox{
    border-radius: 50px;
  }

  .no-outline:focus {
    outline: none;
    }

    input {
        border-top-style: hidden;
        border-right-style: hidden;
        border-left-style: hidden;
        border-bottom-style: hidden;
        }

.page{
    width: 21cm;
    height: 29.7cm;
    padding-top:2.5rem; 
    overflow: auto;
}

.moving{
    position: absolute;
    bottom:5rem;
    left:2rem;
}